## Node
node_modules/

## Environment
.env
.env.local
.env.*.local

## Hardhat / Solidity
artifacts/
cache/
build-info/
typechain-types/
typechain/

## TypeScript / Build
dist/
coverage/

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

## Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
